<div class="user-form">

<h1 class="user-form--title">Sign up</h1>
  <br />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary user-form--button" %>
  </div>
<% end %>
<p>or <%= render "devise/shared/links" %></p>

</div>
