  <br />
<div class="user-form">
  <h1 class="user-form--title">Add a new course</h1>
      <br />
   <%= simple_form_for @course, url: instructor_courses_path do |f| %>
    <%= f.input :title %>
        <br />
    <%= f.input :description %>
        <br />
    <%= f.input :cost %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary user-form--button' %>
    <br />
  <% end %>
</div>