<script>

$(function() {

  $('.lessons').sortable({
    update: function(event, ui) {
      $.ajax({
        type: 'PUT',
        url: ui.item.data('update-url'),
        dataType: 'json',
        data: { lesson: { row_order_position: ui.item.index() } }
      });
      // alert("LessonId: " + ui.item.data('update-url') + " Index: " + ui.item.index());
      // var lessonOrder = $(this).sortable('toArray').toString();
      // $.get('update-sort.cfm', {lessonOrder:lessonOrder});
    }
  });

  $('.course-section').sortable({
    update: function (event, ui){
      $.ajax({
        type: 'PUT',
        url: ui.item.data('update-url'),
        dataType: 'json',
        data: { section: { row_order_position: ui.item.index() } }
      });
      // alert("Update URL: " + ui.item.data("update-url") + " and the Index is: " + ui.item.index());
    }
  });


});

</script>

<div class="course-hero">
  <h1 class="course-hero--title"><%= current_course.title %></h1>
    <br />
  <h4 class="course-hero--count"><%= current_course.description %></h4>
    <br />

 <!-- 
    <% if current_user && current_user == current_course.user %>
      <br />
      <br />
      <%= link_to instructor_course_path(current_course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-cog"></i> Course settings</p>
      <% end %>
    <% end %>

    -->

    <%= link_to new_instructor_course_section_path(current_course), {:class => "course-hero--create"} do %>
      <p><i class="glyphicon glyphicon-plus"></i> Add a new section</p>
    <% end %>
          <%= link_to course_path(current_course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-education"></i> Preview as student</p>
      <% end %>

</div>

<%= image_tag current_course.image, class: 'img-responsive' %>

  <br />

<ul class="course-section">
  <% current_course.sections.rank(:row_order).each do |section| %>
  <li class="items" data-update-url=<%= instructor_section_path(section) %>>
    <h4><%= section.title %></h4>
    <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: "course-section--create" %>
      <ul class="lessons">
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <li class="course-section--lesson" data-update-url=<%= instructor_lesson_path(lesson) %>>
            <%= link_to lesson_path(lesson) do %>
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>    
  <% end %>
</ul>
        <br />
        <br />