<div class="course-hero">
  <h1 class="course-hero--title"><%= @course.title %></h1>
    <br />
  <h4 class="course-hero--count"><%= @course.description %></h4>
    <br />

 <!-- 
    <% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to instructor_course_path(@course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-cog"></i> Course settings</p>
      <% end %>
    <% end %>

    -->

    <%= link_to new_instructor_course_section_path(@course), {:class => "course-hero--create"} do %>
      <p><i class="glyphicon glyphicon-plus"></i> Add a new section</p>
    <% end %>
          <%= link_to course_path(@course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-education"></i> Preview as student</p>
      <% end %>

</div>
  <br />

<div class="course-section">
  <% @course.sections.reverse.each do |section| %>
    <h4><%= section.title %></h4>
    <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: "course-section--create" %>
      <br />
      <% section.lessons.each do |lesson| %>
        <div class="course-section--lesson">
          <b><%= lesson.title %></b>
          -
          <%= lesson.subtitle %>
        </div>
      <% end %>
        <br />
        <br />
  <% end %>
</div>