<div class="course-hero">
  <h1 class="course-hero--title"><%= @course.title %></h1>
    <br />
  <h4 class="course-hero--count"><%= @course.description %></h4>
    <br />
  <% if current_user && current_user.enrolled_in?(@course) %>
    <p class="course-hero--enrolled">You are enrolled!</p>
  <% else %>   

    <% if @course.free? %>
      <%= link_to 'Enroll for free', course_enrollments_path(@course), class: 'btn btn-success course-hero--button', method: :post %>
    <% else %>  

      <%= form_tag course_enrollments_path(@course) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
            data-amount="<%= (@course.cost * 100).to_i %>"></script>
      <% end %>
    <% end %>
  <% end %>  

      <br />
      <br />
      <%= link_to instructor_course_path(@course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-cog"></i> Course settings</p>
      <% end %>

  <!--  
    <%= link_to new_instructor_course_section_path(@course), {:class => "course-hero--create"} do %>
      <p><i class="glyphicon glyphicon-plus"></i> Add a new section</p>
    <% end %>
          <%= link_to course_path(@course), {:class => "course-hero--administrate"} do %>
        <p><i class="glyphicon glyphicon-education"></i> Preview as student</p>
      <% end %>

      -->
</div>

<div class="course-section">
  <% @course.sections.rank(:row_order).each do |section| %>
    <h4><%= section.title %></h4>
    <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: "course-section--create" %>
      <br />
      <% section.lessons.rank(:row_order).each do |lesson| %>
        <%= link_to lesson_path(lesson) do %>
          <div class="course-section--lesson">
            <b><%= lesson.title %></b>
            -
            <%= lesson.subtitle %>
          </div>
         <% end %> 
      <% end %>
        <br />
        <br />
  <% end %>
</div>


